.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.section-1 {
    border: 1px solid;
    background-color: rgb(30, 86, 255);
    color:white;
    border-radius:10px;
    text-align: center;
    padding: 20px;
    margin: -8;
    

    

}
body{
  background-color: rgb(247, 248, 252);
}
#colour-list{
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-top: -14px;
    white-space: nowrap;
    
    
    
    

}
#date-time{
  display: flex;
  gap: 10px;
  list-style-type: none;
 
  

}
.section-2 {  
    border-radius:1px;
    background-color: rgb(247, 248, 252);
    padding: 20px;
    margin: -10;

}


#cards1 {
    border: 1px solid;
    margin-top: 20px;
    border-radius: 10px;
    padding:10px 20px;
    
    
}
.overdue{
background: linear-gradient(90deg,rgba(168, 2, 2, 1) 0%, rgba(255, 0, 0, 1) 38%, rgba(237, 164, 164, 1) 99%);
}
.today{
background: linear-gradient(90deg,rgba(64, 4, 133, 1) 0%, rgba(15, 0, 153, 1) 38%, rgba(201, 201, 245, 1) 98%);
}
.one-two-days{
background: linear-gradient(90deg,rgba(247, 180, 22, 1) 1%, rgba(191, 144, 33, 1) 38%, rgba(181, 129, 7, 1) 99%);
}
.three-seven-days{
background: linear-gradient(90deg,rgba(4, 62, 112, 1) 2%, rgba(11, 106, 189, 1) 38%, rgba(4, 107, 196, 1) 97%);
}
.seven-plus-days{
background: linear-gradient(90deg,rgba(7, 130, 5, 1) 1%, rgba(8, 166, 5, 1) 38%, rgba(17, 255, 13, 1) 98%);
}

